# dependencies
./netflix-ui/node_modules/
./netflix-api/node_modules/
./netflix-api/.yarn/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
netflix-api/.yarn/install-state.gz
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/.ready
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/.release-please-manifest.json
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/addon.gypi
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/CHANGELOG.md
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/CONTRIBUTING.md
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/LICENSE
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/macOS_Catalina_acid_test.sh
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/package.json
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/README.md
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/release-please-config.json
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/SECURITY.md
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/bin/node-gyp.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/gyp
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/gyp_main.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/gyp.bat
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/LICENSE
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pyproject.toml
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/test_gyp.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/data/win/large-pdb-shim.cc
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/__init__.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/common_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/common.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/easy_xml_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/easy_xml.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/flock_tool.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/input_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/input.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/mac_tool.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/msvs_emulation.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSNew.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSProject.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSSettings_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSSettings.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSToolFile.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSUserFile.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSUtil.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/MSVSVersion.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/ninja_syntax.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/simple_copy.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/win_tool.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/xcode_emulation.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/xcode_ninja.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/xcodeproj_file.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/xml_fix.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/__init__.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/analyzer.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/android.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/cmake.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/compile_commands_json.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/dump_dependency_json.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/eclipse.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/gypd.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/gypsh.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/make.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/msvs_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/msvs.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/ninja_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/ninja.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/xcode_test.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/gyp/generator/xcode.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/__init__.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_elffile.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_manylinux.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_musllinux.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_parser.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_structures.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/_tokenizer.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/LICENSE
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/LICENSE.APACHE
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/LICENSE.BSD
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/markers.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/metadata.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/py.typed
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/requirements.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/specifiers.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/tags.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/utils.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/gyp/pylib/packaging/version.py
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/build.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/clean.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/configure.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/create-config-gypi.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/download.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/find-node-directory.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/find-python.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/Find-VisualStudio.cs
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/find-visualstudio.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/install.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/list.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/log.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/node-gyp.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/process-release.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/rebuild.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/remove.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/lib/util.js
netflix-api/.yarn/unplugged/node-gyp-npm-10.1.0-bdea7d2ece/node_modules/node-gyp/src/win_delay_load_hook.cc
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/.prettierrc.json
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/.ready
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/LICENSE
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/package.json
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/README.md
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/bin/nodemon.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/bin/windows-kill.exe
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/authors.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/config.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/help.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/logo.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/options.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/topics.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/usage.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/doc/cli/whoami.txt
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/nodemon.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/spawn.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/version.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/cli/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/cli/parse.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/config/command.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/config/defaults.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/config/exec.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/config/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/config/load.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/help/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/monitor/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/monitor/match.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/monitor/run.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/monitor/signals.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/monitor/watch.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/rules/add.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/rules/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/rules/parse.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/bus.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/clone.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/colour.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/index.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/log.js
netflix-api/.yarn/unplugged/nodemon-npm-3.1.0-30a475e1a6/node_modules/nodemon/lib/utils/merge.js
